<html>
    <head>
        <title>
            Hello
        </title>
    </head>
    <body>
        <form>
            <h3>
                Form
            </h3>
            <form action='/process' method='post'>
                <p>First Name</p>
                <input type="text" name="first_name" value="First Name">
                <p>Last Name</p>
                <input type="text" name="last_name" value="Last Name">
                <input type="submit" value="Submit">
            </form>
        </form>
    </body>
</html>