*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    width: 1000px;
    height: 800px;
    border-style: solid;
    display: inline-block;
}
.infoform{
    width: 300px;
    height: 300px;
    border-style: solid;
    padding: 10px;
    display: inline-block;
}
p{
    display: inline-block;
    margin-top: 10px;
}
.add{
    margin: 15px;
}
.card1{
    width: 200px;
    height: 200px;
    border-style: solid;
    display: inline-block;
    
}
.card_description{
    margin-top: 150px;
}