*{
    margin: 0px;
    padding: 0px;
}
th{
    font-size: 20px;
    
}
.table{
    padding: 15px;
    margin: 15px;
    border-style: solid;
    border-color: black;
    display: inline-block
}
p{
    display: inline-block;
    margin-top: 10px;
}
.form{
    margin-left: 15px;
    margin-top: 30px;
    width: 400px;
}
h1{
    border-bottom-style: solid;
    border-color: black;
}
.submitbutton{
    margin-top: 10px;
}